<ion-view title="slide">
  <ion-content class="has-header">
    <!-- <div class="container"> -->
      <step-circle percent="{{vo.step/vo.target}}" step={{vo.step}} target={{vo.target}} img-src="img/foot.png"></step-circle>
      <!-- <div class="in-circle">
        <div class="step-circle-head">今日步数</div>
        <div class="step-circle-step" ng-bind="vo.step">1198</div>
        <div class="step-circle-target">目标 <span ng-bind="vo.target"></span> 步</div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
<style type="text/css">
</style>
<!-- #wrap{
    width:200px;height: 200px;position: relative;border-radius: 50%;
    border:0px solid black;margin: 100px auto;padding: 0 0;
}
#wrap ul{
    margin:0px;padding: 0px;height: 200px;list-style: none;position: relative;
}
#wrap ul li {
    width: 5px; height: 5px; background: rgba(251,128,64, 0.9);position: absolute;left: 98px;top: 5px; -webkit-transform-origin:center 95px; border-radius: 50%;
}
#wrap ul li:last-child {
    width: 5px; height: 5px; background: url(./foot.png);position: absolute;left: 98px;top: 0px; -webkit-transform-origin:center 100px; border-radius: 0;
    background-position:right bottom;
}
#wrap ul li.passed{background:white;}
#wrap ul li img{
    filter: invert(100%);
    width:400%; height:400%;
    margin-left: -5px;margin-top: -2px;
} -->
