<ion-view view-title="Today">
  <ion-content class="has-header">
    <div class="">
      <div class="tips" ng-show="vo.message" ng-bind="vo.message"></div>
      <button type="button" class="button button-block button-promary" ng-click="vc.register()">今日步数</button>
        <div class="score-head" ng-show="vo.todayStep">
            <div class="score-circle">
                <div style="font-size: 0.8rem;">当前步数</div>
                <div style="font-size: 2rem;" ng-bind="vo.todayStep"></div>
            </div>
            <img src="img/score_buttom.png" alt="">
            <div style="font-size: 0.8rem;" ng-bind="vo.todayStep|distance"></div>
        </div>
      <!-- <div class="" ng-bind="vo.todayStep" ng-show="vo.todayStep"> </div> -->
      <button type="button" class="button button-block button-promary" ng-click="vc.unregister()">停止计步</button>
    </div>
  </ion-content>
</ion-view>
<style media="screen">
@media only screen and (min-width:320px) {
    .chart-container {
        margin: -10px auto;
    }
    .chart {
        width: 320px;height: 250px;
    }
}

@media only screen and (min-width:375px) {
    .chart-container {
        margin: -15px auto;
    }
    .chart {
        width: 375px;height: 292px;
    }
}

@media only screen and (min-width:414px) {
    .chart-container {
        margin: -20px auto;
    }
    .chart {
        width: 414px;height: 323px;
    }
}
.score-head {
    text-align: center;
    background-color: white;
    padding: 10px;
}

.score-head img {
    height: 18px;
    width: 100px;
}

.score-circle {
    width: 8rem;
    height: 8rem;
    margin: 10px auto;
    padding: 2rem 0;
    line-height: 1.5rem;
    color: #888;
    background-repeat: round;
    background-image: url(img/score_circle.png);
}
</style>
